html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
}

img {
    width: 100%;
}

section {
    padding: 100px 0;
    background: #D9CFC7;

}

.section_title {
    margin-bottom: 30px;

}

.section_title h2 {
    position: relative;
    text-align: center;
    color: #000000;
    font-size: 30px;
    transition: all .5s ease-in-out;
}

.section_title h2:hover {
    background-color: #6b6c6c;
}

/*----- header ----- */

header {
    background: rgb(28, 26, 26);
    border-bottom: 1px solid rgba(0, 0, 0, 0.801);
    position: fixed;
    width: 100%;
    z-index: 5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding: 10px 0;
}

.nav_links {
    display: flex;
}

.nav_links li a {
    margin-left: 15px;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all.5s ease-in-out;
}

.nav_links li a:hover {
    background-color: #F5C9B0;
}

.logo h2 a {
    color: #fff;
    text-transform: uppercase;

}

.anasayfa-logo {
    border-radius: 150px;
}

/* anasayfa */

.inner_anasayfa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    color: #fff;

}

.child_anasayfa {
    flex-basis: 45%;
}

.child_anasayfa h1 {
    font-size: 50px;
    color: #000000;
}

.span_child {
    color: rgb(58, 58, 58);
}

.child_anasayfa p {
    font-size: 40px;
    margin-bottom: 12px;
    color: rgb(58, 58, 58);
}

.btn {
    background-color: #F5C9B0;
    padding: 12px 30px;
    border-radius: 20px;
    color: #000000;
    border: 1px solid #000000;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease;

}

.btn:hover {
    background: transparent;
    letter-spacing: 2px;
}

/* Yazilimlar */

.innersoftware {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    color: #fff;
}

.innersoftware_child {
    flex-basis: 31%;
    color: #3d3c3c;
    padding: 25px 20px;
    background-color: #c7bbaf;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all .5s ease-in;
}

.innersoftware_child:hover {
    border: 1px solid #292929;
}

.innersoftware_child .icon {
    font-size: 25px;
    color: #000000;
}

.innersoftware_child h3 {
    font-size: 20px;
    margin: 5px 0;
}

.innersoftware_child p {
    font-size: 16px;

}